body {
  font-family: Overpass;
  color: #404042;
  font-size: 18px;
  margin: 0;
}

h1, h2, h3 {
  color: #404042;
  font-family: Chivo;
}

a {
  color: purple;
}

a:hover {
  background-color: #0D1EC6;
  color: white;
}